header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  text-align: left;
  background-color: var(--secondary-dark-gray);
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h2 {
  /* TRBL */
  margin: 0 0 0.5rem 0;
}

.logo-container {
  margin-left: 1rem;
}


.logo-container h1{
  transition: transform 0.1s ease;
}

.logo-container:hover{
  transform: scale(1.05);
}

.logo-container:hover .logo-bites::after {
  content: '!'
}

.profile-container {
  text-align: right;
  margin-right: 1rem;
}

.logo-snap,
.logo-bites {
  font-family: 'Cherry Bomb One', cursive, sans-serif;
}

.logo-snap {
  font-weight: 300;
  letter-spacing: -3%;
}

.logo-bites {
  color: var(--pacific-cyan);
  font-weight: 800;
}

header h1 {
  display: inline-block;
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  header {
    background-color: var(--secondary-light-gray);
  }
}