:root {
  font-family: Outfit, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --header-height: 6.5rem;


  /* Color variables */
  --base-dark-gray: #242424;
  --base-light-gray: #c9c9c9;
  --midnight-green: #004e64;
  --pacific-cyan: #00a5cf;
  --aquamarine: #9fffcb;
  --persian-green: #25a18e;
  --light-green: #7ae582;


  color-scheme: light dark;
  color: rgb(255, 255, 255, 0.9);
  background-color: var(--base-dark-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--persian-green);
  text-decoration: inherit;
}
a:hover {
  color: var(--light-green);
}

body {
  margin: 0;
  padding-top: var(--header-height);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--pacific-cyan);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#false-header {
  width: 100vw;
  height: 7rem;
}

#false-footer {
  width: 100vw;
  height: 5rem;
}

@media (prefers-color-scheme: light) {

}
