.log-meal-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  color: var(--midnight-green);
  background-color: var(--pacific-cyan);
  border-radius: 50%;
  border: 3px solid var(--midnight-green);
  box-shadow: 0 0.8rem 1rem 0.1rem rgba(255, 255, 255, 0.1);
  transition: border-color 0.3s ease;
}

.log-meal-button:hover {
  border-color: var(--aquamarine);
}

@media (prefers-color-scheme: light) {
  .log-meal-button {
    /* X Y Diffuse Spread */
    box-shadow: 0 0.5rem 1rem 0.1rem rgba(0, 20, 51, 0.35);
  }
}